{{#*inline "articleItem"}}
  <li class='article-item'>
    <a href="{{article.relative_url}}">
      <div id="article">
        <div class='article-row'>

          <div class='article-left-chunk'>
            <h3>
              {{#if article.is_featured}}<i class="fa fa-star"></i> &#8203;{{/if}}
              {{~article.title}}
            </h3>
          </div>
          
          <div class='article-right-chunk'>
            <p class="card-text">
              {{#if article.author.profile_image}}
                <img class="img-fluid img-circle" src="{{article.author.profile_image}}">
              {{/if}}
              <span class="text-muted">
                {{i18n "updated" "Updated"}} {{article.updated_at_relative}}
              </span>
              <script>
                {{article.updated_at_relative}}
              </script>
              {{#if article.author.name}}
                <span class="text-muted">
                  {{i18n "by" "by"}}
                  {{article.author.name}}
                </span>
              {{/if}}
            </p>
          </div>

        </div>
      </div>
    </a>
  </li>
{{/inline}}

<div id="category">

  <!-- крошки -->
  <div id="meta" class="text-center">
    <p id="breadcrumbs">
        <a href="{{fallback meta.home_path "/"}}">
          {{i18n "all_categories" "All Categories"}}
        </a>
        &#8203;>&#8203;
        {{> categoryBreadcrumbs}}
      </p>
  </div>

  <!-- заголовок категории -->
  <div id="category-meta" class="text-center">
    <h1 class="category-title">{{category.title}}</h1>
  </div>
    
  
  <div id="articles">
    <ul>
      {{#each category.articles}}
        {{#if this.is_featured}}
          {{> articleItem article=this}}
        {{/if}}
      {{/each}}
      {{#each category.articles}}
        {{#unless this.is_featured}}
          {{> articleItem article=this}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>


  
  <div id="subcategories">
    <ul>
      {{#each (filterCategoriesByParentId meta.sidebar_categories category.category_id)}}
        <li class='subcategory-card' >
          <a href="{{this.relative_url}}"> 
            <div id="subcategory">
              <h3 class='card-title'>{{this.title}}</h3>
              <p class='articles-count-indicator'>{{this.meta.num_articles}} Articles</p>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

</div>

