<div id="header">
  {{#page "category"}}
    <div class="container-fluid">

      {{> mobileHamburger }}

      <div id='hamburger-menu-filler' class='hidden-filler'></div>

      <div id="hamburger-search" class='hidden-search non-home'>
        <form action="{{rootPath meta.home_path}}/search" method="GET">
          <label class='visually-hidden' for='id-query'>
            {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
          </label>
          <div class='search-input-container'>
            <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
          </div>
        </form>
      </div>  

      <nav id='articles-header' class='non-home'>

        <!-- CRYPTOPAY | Helpdesk -->
        <ul class='article-nav-left'>
          <li>
            <a href='https://cryptopay.me/' class='cryptopay-home'>
              <span class='visually-hidden'>{{config.brand}}</span>
              <span class='logo-icon'></span>
            </a>
          </li>
          <li>
            <a href='https://cryptopay.helpdocs.io' class='cryptopay-helpdesk'>Helpdesk</a>              
          </li>
          <li>
            <button class='hamburger-open-button' id='hamburger-open-button'>
              <span class="visually-hidden">Open menu</span>
            </button>
          </li>
        </ul>

        <!-- Searchbar -->
        <div id="article-instant-search">
          <form action="{{rootPath meta.home_path}}/search" method="GET">
            <label class='visually-hidden' for='id-query'>
              {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
            </label>
            <div class='search-input-container'>
              <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
              <span class="search-icon article-search-icon"></span>
            </div>
          </form>
        </div>  
        
        <!-- Sing In | Sing Up | LANG | Contact Us -->     
        <ul id='nav-list-2'>

          <li class="nav-item">
            <a href=''>Sign Up</a>
          </li>
          <li class="nav-item">
            <a href=''>Sign In</a>
          </li>

          {{#if config.nav_items}}
            {{#each config.nav_items}}
              <li class="nav-item">
                <a class="contact-us" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
                  {{this.title}}
                </a>
              </li>
            {{/each}}
          {{/if}}

          {{#if config.statuspage}}
            <li class="nav-item statuspage">
              <a class="nav-link" href="#" target="_blank">
                <span class="color-dot"></span>
                <span class="color-description"></span>
              </a>
            </li>
          {{/if}}

          {{#if meta.languages}}
            <li class="nav-item language-picker">
              <div class="dropdown show">
                <a id="lang-dropdown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href>
                  {{meta.language_code}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-dropdown">
                  {{#each meta.languages}}
                    <a class="dropdown-item" href="{{rootPath meta.home_path}}/l/{{this.code}}">
                      {{this.name}}
                    </a>
                  {{/each}}
                </div>
              </div>
            </li>
          {{/if}}

          <li class="nav-item">
            {{> contactLink class='contact-us-btn'}}
          </li>
        </ul>
        
      </nav>
    </div>


    <div id="searchresults" class="container-fluid">
      <div id="articles" class="row">
        <div class="col-xs-12 col-md-9 col-lg-7">
          <div id="hits"></div>
        </div>
      </div>
    </div>


    
  {{/page}}


  {{#page "home"}}
  

    <div class="container-fluid main-header-1">



      <nav class="nav-bar" id='articles-header'>
        <ul class='nav-list'>
          <li>
            <a href='https://cryptopay.me/' class='cryptopay-home'>
              <span class='visually-hidden'>{{config.brand}}</span>
              <span class='logo-icon'></span>
            </a>
          </li>
          <li>
            <a href='https://cryptopay.helpdocs.io' class='cryptopay-helpdesk'>Helpdesk</a>              
          </li>
          
          <li>
            <button class='hamburger-open-button' id='hamburger-open-button'>
              <span class="visually-hidden">Open menu</span>
            </button>
          </li>
          
        </ul>

        <div class="spacer"></div>

        <div class="nav-items">
          <ul class="nav-list-2 nav navbar-nav">
            <li lass="nav-item">
              <a href=''>Sign Up</a>
            </li>
            <li lass="nav-item">
              <a href=''>Sign In</a>
            </li>
            {{#if config.nav_items}}
              {{#each config.nav_items}}
                <li class="nav-item">
                  <a class="contact-us" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
                    {{this.title}}
                  </a>
                </li>
              {{/each}}
            {{/if}}
            {{#if config.statuspage}}
              <li class="nav-item statuspage">
                <a class="nav-link" href="#" target="_blank">
                  <span class="color-dot"></span>
                  <span class="color-description"></span>
                </a>
              </li>
            {{/if}}
            {{#if meta.languages}}
              <li class="nav-item language-picker">
                <div class="dropdown show">
                  <a id="lang-dropdown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href>
                    {{meta.language_code}}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-dropdown">
                    {{#each meta.languages}}
                      <a class="dropdown-item" href="{{rootPath meta.home_path}}/l/{{this.code}}">
                        {{this.name}}
                      </a>
                    {{/each}}
                  </div>
                </div>
              </li>
            {{/if}}
            <li class="nav-item">
              {{> contactLink class='contact-us-btn'}}
            </li>
          </ul>
        </div>
      </nav>

    </div>

    <div id='search-mobile-wrapper' class=''>
      <div id="search-container" class="container-fluid">
        
          <div id="categories">
            
              <div id="instant-search">
                <form action="{{rootPath meta.home_path}}/search" method="GET">
                  <label>
                    {{#if (eq meta.language_code 'en')}}
                        How can we help?
                    {{/if}}
                    {{#if (eq meta.language_code 'de')}}
                        Womit können wir Ihnen helfen?
                    {{/if}}
                    {{#if (eq meta.language_code 'fr')}}
                        Comment pouvons nous aider?
                    {{/if}}
                    {{#if (eq meta.language_code 'it')}}
                        Come possiamo aiutarti
                    {{/if}}
                  </label>
                  <div class='search-input-container'>
                    <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
                    <span class="search-icon"></span>
                  </div>
                </form>
            </div>
          
        </div>
      </div>
    </div>

    {{> mobileHamburger }}
    <div id='hamburger-menu-filler' class='hidden-filler'></div>

    <div id="hamburger-search" class='hidden-search'>
      <div id='header-for-mobile'>
        <form action="{{rootPath meta.home_path}}/search" method="GET">
          <label class='visually-hidden' for='id-query'>
            {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
          </label>
          <div class='search-input-container'>
            <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
          </div>
        </form>
        </div>
      </div>  

    <div id="searchresults" class="container-fluid">
      <div id="articles" class="row">
        <div class="col-xs-12 col-md-9 col-lg-7">
          <div id="hits"></div>
        </div>
      </div>
    </div>

  {{/page}}


   {{#page "article"}}
    <div class="container-fluid">

      {{> mobileHamburger }}

      <div id='hamburger-menu-filler' class='hidden-filler'></div>

      <div id="hamburger-search" class='hidden-search'>
        <form action="{{rootPath meta.home_path}}/search" method="GET">
          <label class='visually-hidden' for='id-query'>
            {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
          </label>
          <div class='search-input-container'>
            <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
          </div>
        </form>
      </div>  

      <nav id='articles-header'>

        <!-- CRYPTOPAY | Helpdesk -->
        <ul class='article-nav-left'>
          <li>
            <a href='https://cryptopay.me/' class='cryptopay-home'>
              <span class='visually-hidden'>{{config.brand}}</span>
              <span class='logo-icon'></span>
            </a>
          </li>
          <li>
            <a href='https://cryptopay.helpdocs.io' class='cryptopay-helpdesk'>Helpdesk</a>              
          </li>
          <li>
            <button class='hamburger-open-button' id='hamburger-open-button'>
              <span class="visually-hidden">Open menu</span>
            </button>
          </li>
        </ul>

        <!-- Searchbar -->
        <div id="article-instant-search">
          <form action="{{rootPath meta.home_path}}/search" method="GET">
            <label class='visually-hidden' for='id-query'>
              {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
            </label>
            <div class='search-input-container'>
              <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
              <span class="search-icon article-search-icon"></span>
            </div>
          </form>
        </div>  
        
        <!-- Sing In | Sing Up | LANG | Contact Us -->     
        <ul id='nav-list-2'>

          <li class="nav-item">
            <a href=''>Sign Up</a>
          </li>
          <li class="nav-item">
            <a href=''>Sign In</a>
          </li>

          {{#if config.nav_items}}
            {{#each config.nav_items}}
              <li class="nav-item">
                <a class="contact-us" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
                  {{this.title}}
                </a>
              </li>
            {{/each}}
          {{/if}}

          {{#if config.statuspage}}
            <li class="nav-item statuspage">
              <a class="nav-link" href="#" target="_blank">
                <span class="color-dot"></span>
                <span class="color-description"></span>
              </a>
            </li>
          {{/if}}

          {{#if meta.languages}}
            <li class="nav-item language-picker">
              <div class="dropdown show">
                <a id="lang-dropdown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href>
                  {{meta.language_code}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-dropdown">
                  {{#each meta.languages}}
                    <a class="dropdown-item" href="{{rootPath meta.home_path}}/l/{{this.code}}">
                      {{this.name}}
                    </a>
                  {{/each}}
                </div>
              </div>
            </li>
          {{/if}}

          <li class="nav-item">
            {{> contactLink class='contact-us-btn'}}
          </li>
        </ul>
        
      </nav>
    </div>


    <div id="searchresults" class="container-fluid">
      <div id="articles" class="row">
        <div class="col-xs-12 col-md-9 col-lg-7">
          <div id="hits"></div>
        </div>
      </div>
    </div>


    
  {{/page}}

  {{#page "search"}}
    <div class="container-fluid">

      {{> mobileHamburger }}

      <div id='hamburger-menu-filler' class='hidden-filler'></div>

      <div id="hamburger-search" class='hidden-search'>
        <form action="{{rootPath meta.home_path}}/search" method="GET">
          <label class='visually-hidden' for='id-query'>
            {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
          </label>
          <div class='search-input-container'>
            <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
          </div>
        </form>
      </div>  

      <nav id='articles-header'>

        <!-- CRYPTOPAY | Helpdesk -->
        <ul class='article-nav-left'>
          <li>
            <a href='https://cryptopay.me/' class='cryptopay-home'>
              <span class='visually-hidden'>{{config.brand}}</span>
              <span class='logo-icon'></span>
            </a>
          </li>
          <li>
            <a href='https://cryptopay.helpdocs.io' class='cryptopay-helpdesk'>Helpdesk</a>              
          </li>
          <li>
            <button class='hamburger-open-button' id='hamburger-open-button'>
              <span class="visually-hidden">Open menu</span>
            </button>
          </li>
        </ul>

        <!-- Searchbar -->
        <div id="article-instant-search">
          <form action="{{rootPath meta.home_path}}/search" method="GET">
            <label class='visually-hidden' for='id-query'>
              {{#if (eq meta.language_code 'en')}}
                  How can we help?
              {{/if}}
              {{#if (eq meta.language_code 'de')}}
                  Womit können wir Ihnen helfen?
              {{/if}}
              {{#if (eq meta.language_code 'fr')}}
                  Comment pouvons nous aider?
              {{/if}}
              {{#if (eq meta.language_code 'it')}}
                  Come possiamo aiutarti
              {{/if}}
            </label>
            <div class='search-input-container'>
              <input id="hd-query" name="query" placeholder="{{i18n "help_me_with" "Search support"}}">
              <span class="search-icon article-search-icon"></span>
            </div>
          </form>
        </div>  
        
        <!-- Sing In | Sing Up | LANG | Contact Us -->     
        <ul id='nav-list-2'>

          <li class="nav-item">
            <a href=''>Sign Up</a>
          </li>
          <li class="nav-item">
            <a href=''>Sign In</a>
          </li>

          {{#if config.nav_items}}
            {{#each config.nav_items}}
              <li class="nav-item">
                <a class="contact-us" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
                  {{this.title}}
                </a>
              </li>
            {{/each}}
          {{/if}}

          {{#if config.statuspage}}
            <li class="nav-item statuspage">
              <a class="nav-link" href="#" target="_blank">
                <span class="color-dot"></span>
                <span class="color-description"></span>
              </a>
            </li>
          {{/if}}

          {{#if meta.languages}}
            <li class="nav-item language-picker">
              <div class="dropdown show">
                <a id="lang-dropdown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href>
                  {{meta.language_code}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang-dropdown">
                  {{#each meta.languages}}
                    <a class="dropdown-item" href="{{rootPath meta.home_path}}/l/{{this.code}}">
                      {{this.name}}
                    </a>
                  {{/each}}
                </div>
              </div>
            </li>
          {{/if}}

          <li class="nav-item">
            {{> contactLink class='contact-us-btn'}}
          </li>
        </ul>
        
      </nav>
    </div>


    <div id="searchresults" class="container-fluid">
      <div id="articles" class="row">
        <div class="col-xs-12 col-md-9 col-lg-7">
          <div id="hits"></div>
        </div>
      </div>
    </div>


    
  {{/page}}
</div>

<div class="bar-1"></div>


{{#*inline "mobileHamburger"}}
  <nav class='hamburger-menu hamburger-menu-hidden' id='hamburger-menu'>
    <header>
      <ul>
          <li>
            <a href='https://cryptopay.me/' class='cryptopay-home'>
              <span class='visually-hidden'>{{config.brand}}</span>
              <span class='logo-icon'></span>
            </a>
          </li>
          <li>
            <a href='https://cryptopay.helpdocs.io' class='cryptopay-helpdesk'>Helpdesk</a>              
          </li>
        </ul>
        <button class='hamburger-close-button' id='hamburger-close-button'>
          <span class='visually-hidden'>Close Menu</span>
        </button>
    </header>
    <ul class='hamburger-nav-list'>

      <li class="nav-item">
        <a href=''>Sign Up</a>
      </li>
      <li class="nav-item">
        <a href=''>Sign In</a>
      </li>

      {{#if config.nav_items}}
        {{#each config.nav_items}}
          <li class="nav-item">
            <a class="contact-us" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
              {{this.title}}
            </a>
          </li>
        {{/each}}
      {{/if}}

      <li class="nav-item">
        {{> contactLink class='contact-us-btn-hamburger'}}
      </li>


      {{#if meta.languages}}
        <li class="nav-item">
            <p class='language-label'>Language</p>
            
            <ul>
            
              {{#each meta.languages}}
                <li> 
                  <a href="{{rootPath meta.home_path}}/l/{{this.code}}">
                    {{this.name}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/if}} 
    </ul>
  </nav>
{{/inline}}
